Repository boogytotyo/engie_ro, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, integration, dependencies

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'README*'
      - 'docs/**'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/**'
      - 'custom_components/engie_ro/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - 'requirements*.txt'
      - 'pyproject.toml'

chore(metrics): refresh totals, latest & top5
  metrics/TOP.md
  metrics/downloads.history.jsonl
  metrics/downloads.json
  metrics/top_versions.json
Labels: documentation

chore(metrics): refresh totals, latest & top5
  metrics/TOP.md
  metrics/downloads.history.jsonl
  metrics/downloads.json
  metrics/top_versions.json
Labels: documentation

chore(metrics): refresh totals, latest & top5
  metrics/TOP.md
  metrics/downloads.history.jsonl
  metrics/downloads.json
  metrics/top_versions.json
Labels: documentation

chore(metrics): refresh totals, latest & top5
  metrics/TOP.md
  metrics/downloads.history.jsonl
  metrics/downloads.json
  metrics/top_versions.json
Labels: documentation

Update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: ci

chore(metrics): refresh totals, latest & top5
  metrics/TOP.md
  metrics/downloads.history.jsonl
  metrics/downloads.json
  metrics/top_versions.json
Labels: documentation

Update manifest.json
  custom_components/engie_ro/manifest.json
Labels: integration

chore(metrics): refresh totals, latest & top5
  metrics/TOP.md
  metrics/downloads.history.jsonl
  metrics/downloads.json
  metrics/shields/latest_release.json
  metrics/top_versions.json
Labels: documentation

chore(metrics): refresh totals, latest & top5
  metrics/TOP.md
  metrics/downloads.history.jsonl
  metrics/downloads.json
  metrics/top_versions.json
Labels: documentation

Create release.yml
  .github/workflows/release.yml
Labels: ci, dependencies

Create lint.yml
  .github/workflows/lint.yml
Labels: ci, dependencies

Create pyproject.toml
  pyproject.toml
Labels: dependencies

Create validate.yml
  .github/workflows/validate.yml
Labels: ci, dependencies

Update hacs.json
  hacs.json
Labels: none

Update hacs.json
  hacs.json
Labels: none

Update api.py
  custom_components/engie_ro/api.py
Labels: integration

Update auth.py
  custom_components/engie_ro/auth.py
Labels: integration

Update coordinator.py
  custom_components/engie_ro/coordinator.py
Labels: integration

Update sensor.py
  custom_components/engie_ro/sensor.py
Labels: integration

Update pyproject.toml
  pyproject.toml
Labels: dependencies

Update sensor.py
  custom_components/engie_ro/sensor.py
Labels: integration

Update sensor.py
  custom_components/engie_ro/sensor.py
Labels: integration

Update lint.yml
  .github/workflows/lint.yml
Labels: ci, dependencies

Update validate.yml
  .github/workflows/validate.yml
Labels: ci, dependencies

Update release.yml
  .github/workflows/release.yml
Labels: ci, dependencies

Delete .github/workflows/release-zip.yml
  .github/workflows/release-zip.yml
Labels: ci, dependencies

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

chore(metrics): refresh totals, latest & top5
  metrics/TOP.md
  metrics/downloads.history.jsonl
  metrics/downloads.json
  metrics/top_versions.json
Labels: documentation

Update coordinator.py
  custom_components/engie_ro/coordinator.py
Labels: integration

Update __init__.py
  custom_components/engie_ro/__init__.py
Labels: integration

Update __init__.py
  custom_components/engie_ro/__init__.py
Labels: integration

chore(metrics): refresh totals, latest & top5
  metrics/TOP.md
  metrics/downloads.history.jsonl
  metrics/downloads.json
  metrics/top_versions.json
Labels: documentation

Update __init__.py
  custom_components/engie_ro/__init__.py
Labels: integration

Update sensor.py
  custom_components/engie_ro/sensor.py
Labels: integration

chore(metrics): refresh totals, latest & top5
  metrics/TOP.md
  metrics/downloads.history.jsonl
  metrics/downloads.json
  metrics/top_versions.json
Labels: documentation

Update const.py
  custom_components/engie_ro/const.py
Labels: integration

Update __init__.py
  custom_components/engie_ro/__init__.py
Labels: integration

Update coordinator.py
  custom_components/engie_ro/coordinator.py
Labels: integration
