Repository boogytotyo/engie_ro, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, integration, dependencies

Update api.py
  custom_components/engie_ro/api.py
Labels: integration

chore(metrics): refresh totals, latest & top5
  metrics/TOP.md
  metrics/downloads.history.jsonl
  metrics/downloads.json
  metrics/top_versions.json
Labels: documentation

Update api.py
  custom_components/engie_ro/api.py
Labels: integration

Update coordinator.py
  custom_components/engie_ro/coordinator.py
Labels: integration

chore(metrics): refresh totals, latest & top5
  metrics/TOP.md
  metrics/downloads.history.jsonl
  metrics/downloads.json
  metrics/top_versions.json
Labels: documentation

Add files via upload
  custom_components/engie_ro/__init__.py
  custom_components/engie_ro/api.py
  custom_components/engie_ro/config_flow.py
  custom_components/engie_ro/const.py
  custom_components/engie_ro/coordinator.py
  custom_components/engie_ro/diagnostics.py
  custom_components/engie_ro/manifest.json
  custom_components/engie_ro/mapping.py
  custom_components/engie_ro/sensor.py
  custom_components/engie_ro/strings.json
  custom_components/engie_ro/translations/en.json
  custom_components/engie_ro/translations/ro.json
  pytest.ini
  requirements-dev.txt
  tests/__init__.py
  tests/conftest.py
  tests/test_config_flow.py
  tests/test_coordinator.py
  tests/test_mapping.py
  tests/test_sensor.py
Labels: integration, dependencies

Update update.py
  custom_components/engie_ro/update.py
Labels: integration

Update sensor.py
  custom_components/engie_ro/sensor.py
Labels: integration

Update manifest.json
  custom_components/engie_ro/manifest.json
Labels: integration

Update coordinator.py
  custom_components/engie_ro/coordinator.py
Labels: integration

Update config_flow.py
  custom_components/engie_ro/config_flow.py
Labels: integration

Update auth.py
  custom_components/engie_ro/auth.py
Labels: integration

Update api.py
  custom_components/engie_ro/api.py
Labels: integration

Update __init__.py
  custom_components/engie_ro/__init__.py
Labels: integration

Update fr.json
  custom_components/engie_ro/translations/fr.json
Labels: integration

Update en.json
  custom_components/engie_ro/translations/en.json
Labels: integration

Update de.json
  custom_components/engie_ro/translations/de.json
Labels: integration

Update ro.json
  custom_components/engie_ro/translations/ro.json
Labels: integration

2.1.0 version
  custom_components/engie_ro/__init__.py
  custom_components/engie_ro/api.py
  custom_components/engie_ro/config_flow.py
  custom_components/engie_ro/const.py
  custom_components/engie_ro/coordinator.py
  custom_components/engie_ro/diagnostics.py
  custom_components/engie_ro/manifest.json
  custom_components/engie_ro/mapping.py
  custom_components/engie_ro/sensor.py
  custom_components/engie_ro/strings.json
  custom_components/engie_ro/translations/en.json
  custom_components/engie_ro/translations/ro.json
  pytest.ini
  requirements-dev.txt
  tests/__init__.py
  tests/conftest.py
  tests/test_config_flow.py
  tests/test_coordinator.py
  tests/test_mapping.py
  tests/test_sensor.py
Labels: integration, dependencies

Update manifest.json
  custom_components/engie_ro/manifest.json
Labels: integration

Update manifest.json
  custom_components/engie_ro/manifest.json
Labels: integration

Update manifest.json
  custom_components/engie_ro/manifest.json
Labels: integration

Update manifest.json
  custom_components/engie_ro/manifest.json
Labels: integration

Add files via upload
  .github/workflows/ci.yml
Labels: ci, dependencies

Add files via upload
  custom_components/engie_ro/engie_ro
Labels: integration

Add files via upload
  custom_components/engie_ro/translations/en.json
  custom_components/engie_ro/translations/ro.json
Labels: integration

Add files via upload
  custom_components/engie_ro/__init__.py
  custom_components/engie_ro/auth.py
Labels: integration

Add files via upload
  tests/test_config_flow.py
  tests/test_coordinator.py
  tests/test_sensor.py
Labels: none

Add files via upload
  custom_components/engie_ro/__init__.py
  custom_components/engie_ro/api.py
  custom_components/engie_ro/auth.py
  custom_components/engie_ro/config_flow.py
  custom_components/engie_ro/const.py
  custom_components/engie_ro/coordinator.py
  custom_components/engie_ro/diagnostics.py
  custom_components/engie_ro/mapping.py
  custom_components/engie_ro/sensor.py
  custom_components/engie_ro/strings.json
  custom_components/engie_ro/update.py
Labels: integration

Add files via upload
  custom_components/engie_ro/translations/en.json
  custom_components/engie_ro/translations/ro.json
Labels: integration

Add files via upload
  .github/workflows/ci.yml
Labels: ci, dependencies

Add files via upload
  custom_components/engie_ro/__init__.py
  custom_components/engie_ro/api.py
  custom_components/engie_ro/config_flow.py
  custom_components/engie_ro/coordinator.py
  custom_components/engie_ro/diagnostics.py
  custom_components/engie_ro/mapping.py
  custom_components/engie_ro/sensor.py
  custom_components/engie_ro/update.py
Labels: integration

Add files via upload
  tests/conftest.py
  tests/test_config_flow.py
  tests/test_coordinator.py
  tests/test_mapping.py
  tests/test_sensor.py
Labels: none

Add files via upload
  custom_components/engie_ro/__init__.py
  custom_components/engie_ro/api.py
  custom_components/engie_ro/auth.py
  custom_components/engie_ro/config_flow.py
  custom_components/engie_ro/const.py
  custom_components/engie_ro/coordinator.py
  custom_components/engie_ro/diagnostics.py
  custom_components/engie_ro/mapping.py
  custom_components/engie_ro/sensor.py
  custom_components/engie_ro/update.py
  pytest.ini
  requirements-dev.txt
  tests/__init__.py
  tests/conftest.py
  tests/test_config_flow.py
  tests/test_coordinator.py
  tests/test_mapping.py
  tests/test_sensor.py
Labels: integration, dependencies

Update conftest.py
  tests/conftest.py
Labels: none

Update pytest.ini
  pytest.ini
Labels: none

Update conftest.py
  tests/conftest.py
Labels: none

Update conftest.py
  tests/conftest.py
Labels: none

Update test_config_flow.py
  tests/test_config_flow.py
Labels: none

Update test_coordinator.py
  tests/test_coordinator.py
Labels: none

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'README*'
      - 'docs/**'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/**'
      - 'custom_components/engie_ro/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - 'requirements*.txt'
      - 'pyproject.toml'
