Repository boogytotyo/engie_ro, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, integration, dependencies

Update test_sensor.py
  tests/test_sensor.py
Labels: none

Update test_sensor.py
  tests/test_sensor.py
Labels: none

Update test_sensor.py
  tests/test_sensor.py
Labels: none

Create .gitattributes
  .gitattributes
Labels: none

Update test_sensor.py
  tests/test_sensor.py
Labels: none

Update test_sensor.py
  tests/test_sensor.py
Labels: none

Update test_sensor.py
  tests/test_sensor.py
Labels: none

Create .editorconfig
  .editorconfig
Labels: none

Update coordinator.py
  custom_components/engie_ro/coordinator.py
Labels: integration

Update test_coordinator.py
  tests/test_coordinator.py
Labels: none

Update test_sensor.py
  tests/test_sensor.py
Labels: none

Update test_sensor.py
  tests/test_sensor.py
Labels: none

Update TOP.md
  metrics/TOP.md
Labels: documentation

Update test_coordinator.py
  tests/test_coordinator.py
Labels: none

Update test_coordinator.py
  tests/test_coordinator.py
Labels: none

Update test_config_flow.py
  tests/test_config_flow.py
Labels: none

Update test_sensor.py
  tests/test_sensor.py
Labels: none

Update test_sensor.py
  tests/test_sensor.py
Labels: none

Update TOP.md
  metrics/TOP.md
Labels: documentation

Update test_config_flow.py
  tests/test_config_flow.py
Labels: none

Update test_config_flow.py
  tests/test_config_flow.py
Labels: none

Update test_config_flow.py
  tests/test_config_flow.py
Labels: none

Update test_config_flow.py
  tests/test_config_flow.py
Labels: none

chore(metrics): refresh totals, latest & top5
  metrics/TOP.md
  metrics/downloads.history.jsonl
  metrics/downloads.json
  metrics/shields/latest_release.json
  metrics/top_versions.json
Labels: documentation

Update test_config_flow.py
  tests/test_config_flow.py
Labels: none

Update test_coordinator.py
  tests/test_coordinator.py
Labels: none

Update test_coordinator.py
  tests/test_coordinator.py
Labels: none

Update TOP.md
  metrics/TOP.md
Labels: documentation

Update test_config_flow.py
  tests/test_config_flow.py
Labels: none

Update test_coordinator.py
  tests/test_coordinator.py
Labels: none

Update TOP.md
  metrics/TOP.md
Labels: documentation

Stabilize coordinator tests: patch __init__ to avoid threads; assert ConfigEntryAuthFailed
  tests/test_coordinator.py
Labels: none

normalize test_coordinator
  tests/test_coordinator.py
Labels: none

normalize test_coordinator
  tests/__init__.pyc
  tests/test_coordinator.py
Labels: none

Add files via upload
  custom_components/engie_ro/api.py
  custom_components/engie_ro/auth.py
  custom_components/engie_ro/coordinator.py
  custom_components/engie_ro/sensor.py
Labels: integration

Add files via upload
  custom_components/engie_ro/sensor.py
Labels: integration

Update manifest.json
  custom_components/engie_ro/manifest.json
Labels: integration

chore(metrics): refresh totals, latest & top5
  metrics/TOP.md
  metrics/downloads.history.jsonl
  metrics/downloads.json
  metrics/shields/downloads.json
  metrics/top_versions.json
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'README*'
      - 'docs/**'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

integration:
  - changed-files:
    - any-glob-to-any-file:
      - 'custom_components/**'
      - 'custom_components/engie_ro/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - 'requirements*.txt'
      - 'pyproject.toml'
